# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# 通用忽略
.DS_Store
*.log
*.tmp

# 后端忽略
backend/target/
backend/.settings/
backend/.classpath
backend/.project

# 前端忽略
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/